@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Roboto:wght@300;400;700&display=swap');

:root{
  --font-principal: 'Roboto', sans-serif;
  --font-secundario: 'Roboto Slab', serif;
  --bg-prinicpal: linear-gradient(to bottom, #2052AA, #56a7e1);
  --color-check: #2052AA;
}

body{
  font-family: var(--font-principal);
  background: var(--bg-prinicpal);
}

/* NAVBAR */
.ipsst_ancla {
  color: #2052AA !important;
  font-weight: 700;
  font-family: var(--font-secundario);
}

/* HEADER */
h1{
  font-size: 3rem;
  font-family: var(--font-secundario);
}
/* FORMULARIO */
.campos_obligatorios{
  font-size: .8rem;
  width: 95%;
  font-weight: 300;
}

.container_formulario{
  max-width: 700px;
}

.btn, .btn-info{
  transition: all .3s linear;
}

.boton_enviar{
  width: 100%;
}

label, h1{
  color: #fff;
}

/* Modal formulario */
.container_check{
  width: 100px;
  height: 100px;
  border: thin solid #ccc;
  border-radius: 50%;
}

.container_check i{
  font-size: 4rem;
  color: var(--color-check);
}




/* Footer */
.container_footer{
  background-color: #222;
  font-size: .8rem;
}

.container_footer a{
  font-size: 1.5rem;
}


@media screen and (min-width:720px){
  .boton_enviar{
    width: 50%;
  }
}

